<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @dominant_foot.description %>
</p>

<%= link_to 'Edit', edit_dominant_foot_path(@dominant_foot) %> |
<%= link_to 'Back', dominant_foots_path %>
